<script type="text/javascript">
    RED.nodes.registerType('Component',{
        category: 'programmer',
        color: '#f58216',
        defaults: {
            componentname: {value:""},
            componentcategory: {value:""},
            componentdescription: {value:""},
            componentimgbase: {value:""}
        },
        inputs:0,
        outputs:1,
        inputLabels: "Sarrera atakaren datu formatua TNumber da",
        outputLabels: "Irteera atakaren datu formatua TNumber da",
        icon: "computer-engineering-icon.svg",
        label: function() {
            return this.label || "Component";
        },
        oneditprepare: function() {
            var node = this;
            $("#node-input-function").on("change", function() {
                node.label = $(this).val();
            });
        },
        oneditsave: function () {
            this.label = $("#node-input-function").val();
        }
    });
</script>

<script type="text/html" data-template-name="Component">
    <div class="form-row">

        <label for="node-input-componentname"><i class="fa fa-tag"></i> Sartu izena </label>
        <input name="componentname" id="node-input-componentname" type="text"
               placeholder="Osagaiaren izena">
        <br>
        <label for="node-input-componentcategory"><i class="fa fa-tag"></i> Sartu kategoria </label>
        <input name="componentcategory" id="node-input-componentcategory" type="text"
               placeholder="Osagaiaren kategoria">
        <br>
        <label for="node-input-componentdescription"><i class="fa fa-tag"></i> Sartu deskribapena </label>
        <input name="componentdescription" id="node-input-componentdescription" type="text"
               placeholder="Osagaiaren deskribapena">
        <br>
        <label for="node-input-componentimgbase"><i class="fa fa-tag"></i> Sartu oinarri-irudia </label>
        <input name="componentimgbase" id="node-input-componentimgbase" type="text"
               placeholder="Osagaiaren oinarri-irudia">
        <br>
        
    </div>
</script>

<script type="text/html" data-help-name="Component">
    <p>This is a simple node that creates a new instance of source component to read data of eXist database.</p>
    <p>There are some function to choose in order to create the correct instance for the application.</p>
    <ul>
        <li><b>Get assemply station data</b>: This function will get the data of any assembly station of the plant. The data type asociated with this function is TDBStation, so, the outPort will be that type.</li>
        <li><b>Get transport robot data</b>: This function will get the data of any transport robot of the plant. The data type asociated with this function is TDBTransport, so, the outPort will be that type.</li>
        <li><b>Get monitor data</b>: This function will get the data of the monitor. The data type asociated with this function is TDBMonitor.</li>
    </ul>
</script>
